<% layout('layouts/boilerplate') %> 
    <h1>Edit <%= campground.title %>... </h1>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT " method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="title" value="<%= campground.title %>">
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name="location" aria-describedby="location" value="<%= campground.location %> ">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <div class="input-group">
                <span class="input-group-text" id="price">$</span>
                <input type="number" class="form-control" name="price" placeholder="0.00" aria-label="price"
                    aria-describedby="price" value="<%= campground.price %>">
            </div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image url</label>
            <input type="text" class="form-control" id="image" name="image" aria-describedby="image" value="<%= campground.image %> ">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" class="form-control" id="description" name="description"
                aria-describedby="description" ><%= campground.description %></textarea>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Create</button>
        </div>
    </form>
    <a href="/campgrounds/<%= campground._id %>">Cancel</a>
    
    
    
    
    