<% layout('layouts/boilerplate') %>
    <div class="card mb-3">
        <img src="<%= campground.image %>" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                <%= campground.title %>
            </h5>
            <p class="card-text">Price: $<%= campground.price %>
            </p>
            <p class="card-text">
                <%= campground.description %>
            </p>
            <p class="card-text"><small class="text-muted">
                    <%= campground.location %>
                </small></p>
            <a class="btn btn-info" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
            <a class="btn btn-danger" href="/campgrounds/<%= campground._id %>/delete">delete</a>
            <a class="btn btn-secondary" href="/campgrounds">Back</a>
        </div>
    </div>