<% layout('layouts/boilerplate') %> 
    <h1><%= campground.title %> details</h1>
    <div>
        <span>Title : <%= campground.title %> </span>
    </div>
    <div>
        <span>Location : <%= campground.location %> </span>
    </div>
    <div>
        <a href="/campgrounds/<%= campground._id %>/edit">Edit</a>
    </div>
    <div>
        <a href="/campgrounds/<%= campground._id %>/delete">delete</a>
    </div>
    <div>
        <a href="/campgrounds">Back</a>
    </div>
